:root {
  --menu-size: 250px
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: #eee;
}

table {
  table-layout: auto;
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 50px;
}

th {
  border: 1px solid #dddddd;
  background-color: #cccccc;
  text-align: left;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.headerGrid {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerGridRow {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerGrid img {
  width: 33px;
  height: 33px;
  padding: 5px;
  margin-inline: 5px;
  cursor: pointer;
  transition: all .5s;
  margin-bottom: 5px;
}

.headerGrid img:hover {
  border-radius: 50%;
  background-color: #ec891b;
}

.columnValue {
  text-align: right;
  max-width: 80px;
}

.columnValueLeft {
  text-align: left;
  max-width: 80px;
  overflow: hidden;
}

.columnDescription {
  min-width: 200px;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #222;
  padding: 10px;
  text-align: center;
  align-items: center;
  width: 100%;
}

header p {
  color: #fff;
}

#welcome {
  position: absolute;
}

header rect {
  fill: #fff;
}

.menuShowing {
  margin-left: var(--menu-size);
}

.menuHighing {
  margin-left: 0;
}

#btnMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #222;
  transition: all .5s;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#btnMenu:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: #ec891b;
}

#btnMenu:active {
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
}

.content {
  position: relative;
  width: 100%;
  min-width: 70%;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
  min-width: 350px;
}

.menu {
  transition: background .3s;
  position: fixed;
  top: 0;
  width: var(--menu-size);
  height: 100%;
  background-color: #222;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: block;
}

.menu ul li a {
  display: block;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 15px;
  transition: all .3s;
}

.menu ul li a:hover {
  background-color: #ec891b;
}

.effect {
  transition: margin .4s;
}

.show {
  margin-left: 0;
}

.hide {
  margin-left: calc(var(--menu-size) * -1);
}

.headerclose {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
}

.btnClose {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  transition: all .5s;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.btnClose:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
}

.colorGray {
  background-color: gray;
}

.btnClose:active {
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
}

.content ul {
  margin-top: 10px;
  padding-bottom: 15px;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e0dfdc;
  padding-inline: 30px;
}

.content ul li {
  display: flex;
  flex-direction: column;
}

.content ul li p {
  margin: 0px;
  padding-top: 5px;
  margin-right: 5px;
}

.content ul li h4,
h5 {
  margin: 0px;
  padding: 0px;
  margin-left: 12px;
}

.content ul h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.content ul h2 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.content ul h3 {
  margin-top: 5px;
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #303030;
}

.content .borderImage {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px #fff, 0 0 2px #555;
}

.content .perfilImage {
  position: relative;
  width: 176px;
  height: 176px;
  border-radius: 88px;
}

.content .perfilTitulo {
  color: #fff;
  position: absolute;
  top: 80px;
  left: 250px;
  width: 100%;
  max-width: 850px;
  max-height: 256px;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.5rem;
  text-shadow: 0 0 1px #000, 0 0 5px #000;
}

.content .capaTopo {
  margin-top: 15px;
  background-color: rgb(0, 69, 132);
  min-height: 180px;
  max-height: 180px;
  height: 100px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0.5px solid #e0dfdc;
  overflow: hidden;
}

.content .capaBase {
  background-color: white;
  min-height: 80px;
  border-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0.5px solid lightgray;
  padding-top: 80px;
  margin-top: -25px;
}

.content .capaBase h2 {
  position: absolute;
  top: 180px;
  left: 250px;
}

.content .capaBase h3 {
  position: absolute;
  top: 200px;
  left: 250px;
}

.content .footer {
  position: relative;
  bottom: 0;
  height: 15px;
}


#series {
  display: flex;
  flex-direction: row;
}

.secao-listas {
  display: flex;
  flex-wrap: wrap;
}

.groupCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.cards {
  position: relative;
  color: #000;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #000;
  overflow: hidden;
  margin-top: 30px;
  width: 270px;
  height: 400px;
  margin: 5px;
  box-shadow: 0 0 1px #000, 0 0 5px #111;
}

.cards img {
  max-height: 100%;
}

.cards p {
  position: absolute;
  bottom: 4px;
  color: #fff;
  font-size: 23px;
  white-space: wrap;
  overflow: hidden;
  text-shadow: 2px 2px #000;
  background-color: #297fcfaa;
  box-shadow: 0 0 1px #000, 0 0 5px #111;
  padding: 5px;
  padding-inline: 25px;
  border-end-start-radius: 8px;
  border-start-end-radius: 50%;
}

.nota {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px #000;
  background-color: #297fcfaa;
  border-start-end-radius: 8px;
  border-end-start-radius: 50%;
  box-shadow: 0 0 1px #000, 0 0 5px #111;
  width: 50px;
  height: 50px;
  font-size: 35px;
  font-weight: bold;
}

#loginBack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  height: 0px;
  background-color: #00000055;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  position: relative;
  display: column;
  width: 50%;
  height: 70%;
  max-width: 400px;
  max-height: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1px #000, 0 0 10px #111;

}

#loginDetail {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 20px;
}

.inputText {
  display: flex;
  text-justify: center;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #999;
  justify-content: center;
}

input {
  width: 100%;
  font-size: 20px;
  padding-inline: 5px;
}

input:focus {
  background-color: rgb(223, 241, 252);
}

input:not(:focus) {
  background-color: transparent;
}

input:hover {
  border: 1px solid rgb(79, 98, 221);
}

#loginTop {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px;
}

#loginBase {
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
}

#formBase {
  margin-top: 20px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
}

#errorMessage {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: red;
}

#pdfViewer {
  width: 100%;
  height: 100%;
  min-height: 80vh;
}

#subjectTag {
  margin: 0;
}

.highlights {
  background-color: #444;
}

.divider {
  position: relative;
  display: flex;
  height: 1px;
  background-color: #888888;
  left: 5%;
  width: 90%;
  align-items: center;
  justify-content: center;
}

label {
  font-weight: bold;
}

.flex1 {
  flex: 1;
}

.margin0 {
  margin-bottom: 0px;
}

@media (width < 1300px) {
  .content .perfilTitulo {
    font-size: 4rem;
  }
}

@media (width < 1100px) {
  .content .perfilTitulo {
    font-size: 3rem;
  }

  .content .capaBase :is(h2, h3) {
    font-size: 0.9rem;
  }
}

@media (width < 900px) {
  .content .perfilTitulo {
    font-size: 2rem;
  }

  .content .capaBase :is(h2, h3) {
    font-size: 0.8rem;
  }
}

@media (width < 780) {
  .content .capaBase :is(h2, h3) {
    font-size: 0.5rem;
  }
}

@media (width < 700px) {
  .content .perfilTitulo {
    top: 40px;
    left: 0px;
    font-size: 2.1rem;
    text-align: center;
  }

  .content .capaBase {
    min-height: 180px;
    display: flex;
    flex-direction: column;
  }

  .content .capaBase h2 {
    margin-top: 15px;
  }

  .content .capaBase :is(h2, h3) {
    position: unset;
  }

  .content .borderImage {
    left: calc(calc(100% / 2) - 90px);
  }

  .content .capaBase {
    text-align: center;
  }
}

@media (width < 500px) {
  .content .perfilTitulo {
    font-size: 1.7rem;
  }
}

.minWidth300px {
  min-width: 200px;
}

.loader {
  border: 5px solid #ccc;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  margin: 0px;
  padding-top: 5px;
  margin-right: 5px;
  right: 15px;
  color: #fff;
  background-color: lightslategray;
  padding-block: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 120px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .3s;
}

.button:focus {
  background-color: rgb(0, 69, 132);
  cursor: pointer;
}

.button:hover {
  background-color: #ec891b;
  cursor: pointer;
}

#anexarButton {
  width: 50px;
  margin-left: 5px;
}

.inputError {
  border: 3px solid rgb(255, 207, 204);
}

.imgPreview {
  width: 30px;
  height: 30px;
}

.imgPreview :hover {
  border-radius: 0px;
  background-color: transparent;
}

.anexos {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.boxAttach {
  display: flex;
  flex: 1;
  border-radius: 2px;
  border: 1px solid #999;
  align-items: center;
  padding: 2px;
  min-height: 45px;
}

.fileAttach {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  padding: 2px;
  padding-left: 5px;
  border-radius: 2px;
  border: 1px solid lightslategrey;
  margin-right: 5px;
}

.removeButton {
  margin: 0px;
  display: flex;
  padding: 5px;
  border-radius: 2px;
  color: #fff;
  background-color: #bbb;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: background .3s;
}

.tituloSpan {
  overflow: hidden;
}

.removeButton:focus {
  background-color: rgb(0, 69, 132);
  cursor: pointer;
}

.removeButton:hover {
  background-color: lightcoral;
  cursor: pointer;
}